.product-section {
  margin: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.product-carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.product-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  gap: 20px; /* Espaço entre os cards */
}

.product-card {
  min-width: 250px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h4 {
  margin: 10px 0;
}

.product-card p {
  color: #f39c12; /* Cor dourada para as estrelas */
  font-size: 18px;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}

.arrow-btn.left {
  left: 10px;
}

.arrow-btn.right {
  right: 10px;
}

.arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
